/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');

/* *Global */
body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 18px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.generic_off_white_bg {
  background-color: #f8f9fa;
}

.generic_green {
  color: rgb(119, 165, 66);
}

.generic_green_bg {
  background-color: rgb(119, 165, 66);
}

.generic_gold {
  color: rgb(220, 215, 123) !important;
}

.generic_gold_bg {
  background-color: rgb(220, 215, 123) !important;
}

.generic_blue {
  color: rgb(95, 183, 255);
}

.generic_blue_bg {
  background-color: rgb(95, 183, 255);
}

.generic_silver {
  color: rgb(192, 192, 192);
}

.generic_silver_bg {
  background-color: rgb(192, 192, 192);
}

.generic_black {
  color: #000000a6;
}

.generic_black_bg {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.hr_white {
  color: #ffffff !important;
}

.overflow-auto {
  height: 80vh;
}

/* *Animation root speed */
:root {
  --animate-duration: 3s;
}

/* 4 second fade in */
.fade_in_ani_4s {
  animation: fadeIn;
  animation-duration: 4s !important;
}

/* *Breadcrumb */
.breadcrumb {
  z-index: 1;
  position: absolute;
}

/* *Navbar */
.navbar-brand {
  color: #000000a6;
}

.nav-link {
  font-size: 1.2rem;
}

button.navbar-toggler {
  border: none;
}

/* *Index Page */
.bg {
  /* background-image: url('https://picsum.photos/1920/1080'); */
  background-image: url(/assets/images/index_bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* Center element using flexbox */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* height: calc(100vh - 5%); */
}

#get_current_location_button,
#archi_search_button,
#advanced_search_button {
  background-color: #f8f9fa;
  color: #000000a6;
}

#get_current_location_button:hover,
#archi_search_button:hover,
#advanced_search_button:hover {
  background-color: #000000a6;
  color: #ffffff;
}

/* Style the button */
#topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 4px 10px 0px 10px;
  background-color: black;
  border-radius: 5px;
}

/* #topButton:hover {
  background-color: #444;
} */

/* Animation effect header text */
div.at-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* *About us */
.bg_about_us {
  /* background-image: url('https://picsum.photos/1920/1080'); */
  background-image: url(/assets/images/about_us_bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.about_us_text_bg {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* Background media query */
@media only screen and (max-width: 575px) {
  .about_us_text_bg {
    margin: 0px 5px;
  }
}

/* *Advanced Search */
.bg_advanced_search {
  /* background-image: url('https://picsum.photos/1920/1080'); */
  background-image: url(/assets/images/advanced_search_bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.advanced_search_bg {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

/* Background media query */
/* @media only screen and (max-width: 575px) {
  .advanced_search_bg {
    margin: 0px 5px;
  }
} */

/* *Getting Permission */
.bg_getting_permission {
  /* background-image: url('https://picsum.photos/1920/1080'); */
  background-image: url(/assets/images/getting_permission.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* Background media query */
@media only screen and (max-width: 575px) {
  .generic_black_bg {
    margin: 0px 5px;
  }
}

/* *Disclaimer */
.bg_disclaimer {
  /* background-image: url('https://picsum.photos/1920/1080'); */
  background-image: url(/assets/images/disclaimer_bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

/* *Legislation */
.bg_legislation {
  /* background-image: url('https://picsum.photos/1920/1080'); */
  background-image: url(/assets/images/legislation_bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.legislation_text_bg {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#faq_section {
  max-height: 90vh;
  /* padding-top: 86px; */
}

.faq_col {
  max-height: calc(100vh - 10vh) !important;
  overflow-y: scroll !important;
  background-color: rgba(250, 4, 4, 0.2);
  /* backdrop-filter: blur(10px) !important; */
}

/* *Search results page */
.search_results_banner_bg {
  background-color: #000000a6;
  /* border-radius: 5px; */
}

.search_result_map_img {
  height: 3.2rem;
}

.search_results_overflow {
  height: 100vh;
}